<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.androsz.electricsleep" android:versionCode="1"
	android:versionName="0.1" android:installLocation="internalOnly">

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@style/Theme.electricsleep">

		<activity android:name=".app.HomeActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".app.SleepActivity" android:label="@string/title_sleep" />
		<activity android:name=".app.CalibrationWizardActivity"
			android:label="@string/title_calibrate" />
		<activity android:name=".app.WelcomeTutorialWizardActivity"
			android:label="@string/welcome_tutorial" />
		<activity android:name=".app.HelloWizardActivity"
			android:label="@string/title_calibrate" />
		<activity android:name=".app.HistoryActivity" android:label="@string/title_history" />
		<activity android:name=".app.CalibrateForResultActivity"
			android:label="@string/calibrating" android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".app.ReviewSleepActivity" />
		<activity android:name=".app.SaveSleepActivity"
			android:label="@string/title_save_sleep" />

		<activity android:name=".app.SettingsActivity" android:label="@string/title_settings" />

		<receiver android:name=".receiver.SaveSleepReceiver"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="com.androsz.electricsleep.SAVE_SLEEP" />
			</intent-filter>
		</receiver>

		<service android:name=".service.SleepAccelerometerService"
			android:icon="@drawable/icon" android:label="@string/app_name" />

		<provider android:name=".db.SleepContentProvider"
			android:authorities="com.androsz.electricsleep.db.sleepcontentprovider" />

	</application>

	<uses-sdk android:minSdkVersion="8" />

	<uses-feature android:name="android.hardware.sensor.accelerometer"
		android:required="true" />

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>
</manifest> 