<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.androsz.electricsleepbeta" android:versionCode="18"
	android:versionName="1.0" android:installLocation="internalOnly">

	<supports-screens android:normalScreens="true"
		android:largeScreens="true" android:xlargeScreens="true"
		android:anyDensity="true" />

	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="13" />

	<uses-feature android:name="android.hardware.sensor.accelerometer"
		android:required="true" />

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />

	<application android:name=".app.StrictModeWhenDebuggableApplication"
		android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@style/Theme.Sherlock" android:debuggable="true"
		android:hardwareAccelerated="true">
		
		
		<!-- Used for install referrer tracking -->
		<receiver android:name="com.google.android.apps.analytics.AnalyticsReceiver"
			android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
		<!-- com.google.ads.AdActivity -->
		<activity android:name="com.google.ads.AdActivity"
			android:configChanges="keyboard|keyboardHidden|orientation" />
			
		<activity android:name=".app.HomeActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".app.SleepActivity" android:label="@string/title_sleep" />

		<activity android:name=".app.DimSleepActivity" android:label="@string/dim_press_back_to_exit_"
			android:excludeFromRecents="true" />

		<activity android:name=".app.AboutActivity" android:label="@string/about" />

		<activity android:name=".app.CalibrationWizardActivity"
			android:label="@string/title_calibrate" />

		<activity
			android:name="com.androsz.electricsleepbeta.app.WelcomeTutorialWizardActivity"
			android:label="@string/welcome_tutorial" />

		<activity android:name=".app.HelloWizardActivity"
			android:label="@string/title_calibrate" />

		<activity android:name=".app.HistoryActivity" android:label="@string/title_history" />

		<activity android:name=".app.CalibrateAlarmActivity"
			android:label="@string/calibrating" android:theme="@android:style/Theme.Dialog" />

		<activity android:name=".app.CheckForScreenBugActivity"
			android:label="@string/go_into_standy" android:theme="@android:style/Theme.Dialog" />

		<activity android:name=".app.ReviewSleepActivity"
			android:label="@string/title_review_sleep" />

		<activity android:name=".app.SaveSleepActivity"
			android:label="@string/title_save_sleep" android:excludeFromRecents="true"
			android:windowSoftInputMode="stateUnchanged" />

		<activity android:name=".app.SettingsActivity" android:label="@string/title_settings" />

		<activity android:name=".alarmclock.AlarmClock"
			android:label="@string/alarm_list_title" android:taskAffinity=""
			android:excludeFromRecents="true"
			android:configChanges="orientation|keyboardHidden|keyboard|navigation"
			android:exported="true" />

		<activity android:name=".alarmclock.SettingsActivity"
			android:label="@string/alarmclock_settings" android:taskAffinity=""
			android:excludeFromRecents="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<activity android:name=".alarmclock.SetAlarm" android:label="@string/set_alarm"
			android:configChanges="orientation|keyboardHidden|keyboard|navigation" />

		<activity android:name=".alarmclock.AlarmAlert"
			android:excludeFromRecents="true" android:theme="@style/alarm_alert"
			android:launchMode="singleInstance" android:taskAffinity=""
			android:configChanges="orientation|keyboardHidden|keyboard|navigation" />

		<!-- This activity is basically the same as AlarmAlert but with a more 
			generic theme. It also shows as full screen (with status bar) but with the 
			wallpaper background. -->
		<activity android:name=".alarmclock.AlarmAlertFullScreen"
			android:excludeFromRecents="true"
			android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
			android:launchMode="singleInstance" android:taskAffinity=""
			android:configChanges="orientation|keyboardHidden|keyboard|navigation" />

		<activity android:name=".widget.calendar.MonthActivity" />

		<receiver android:name=".alarmclock.AlarmReceiver">
			<intent-filter>
				<action android:name="com.androsz.electricsleepbeta.alarmclock.ALARM_ALERT" />
				<action android:name="com.androsz.electricsleepbeta.alarmclock.alarm_killed" />
				<action android:name="com.androsz.electricsleepbeta.alarmclock.cancel_snooze" />
			</intent-filter>
		</receiver>

		<!-- This service receives the same intent as AlarmReceiver but it does 
			not respond to the same broadcast. The AlarmReceiver will receive the alert 
			broadcast and will start this service with the same intent. The service plays 
			the alarm alert and vibrates the device. This allows the alert to continue 
			playing even if another activity causes the AlarmAlert activity to pause. -->
		<service android:name=".alarmclock.AlarmKlaxon">
			<intent-filter>
				<action android:name="com.androsz.electricsleepbeta.alarmclock.ALARM_ALERT" />
			</intent-filter>
		</service>

		<receiver android:name=".appwidget.SleepWidget"
			android:label="@string/title_sleep" android:icon="@drawable/icon">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/appwidgetprovider_sleep" />
		</receiver>

		<receiver android:name=".alarmclock.AlarmInitReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.TIME_SET" />
				<action android:name="android.intent.action.TIMEZONE_CHANGED" />
				<action android:name="android.intent.action.LOCALE_CHANGED" />
			</intent-filter>
		</receiver>

		<receiver android:name=".content.SaveSleepReceiver"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="com.androsz.electricsleepbeta.SAVE_SLEEP" />
			</intent-filter>
		</receiver>

		<receiver android:name=".content.StartSleepReceiver"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="com.androsz.electricsleepbeta.START_SLEEP" />
			</intent-filter>
		</receiver>

		<service android:name=".app.SleepMonitoringService"
			android:icon="@drawable/icon" android:label="@string/app_name" />

		<service android:name=".app.CheckForScreenBugAccelerometerService"
			android:icon="@drawable/icon" android:label="@string/app_name" />

		<provider android:name=".db.SleepContentProvider"
			android:authorities="com.androsz.electricsleepbeta.db.sleepcontentprovider" />

		<provider android:name=".alarmclock.AlarmProvider"
			android:authorities="com.androsz.electricsleepbeta.alarmclock" />
	</application>

</manifest> 